*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container{
    max-width: 1355px;
    margin: auto;
}

ul, li{
    list-style-type: none;
}

.flex-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-left: 1000px;
    margin-top: 20px;
}

header .flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .entrance{
    color: black;
    border: none;
    padding: 10px 30px;
    background-color: #94E501;
    border-radius: 10px;
    font: 400 22px/26px 'Roboto', sans-serif; 
}

.logo{
    width: 99px;
    height: 90px;
}

header nav ul{
    display: flex;
}

header nav a{
    margin-left: 30px;
    color: black;
    text-transform: uppercase;
    font: 400 24px/28px 'Roboto', sans-serif;
    /* font: weight size/height family...; */
}


#path h2{
    font: 400 24px/29px 'Montserrat', sans-serif;
    margin-top: 46px;
}

.heading-style{
    font: 500 48px/58px 'Montserrat', sans-serif;
    color: #94E501;
    margin-top: 30px;
    margin-bottom: 25px;
}

#video .games figure {
    margin-bottom: 30px;
}

#video .games{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#video .games figure img{
    width: 435px;
}

#video .games figure div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#video .games figure a {
    font: 400 22px/27px 'Montserrat', sans-serif;
    color: #94E501;
    text-decoration: underline;

}

#video .games figure .title{
    color: black;
    font: 400 24px/29px 'Montserrat', sans-serif;
    margin-top: 15px;
}

#text .text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#text .text .item {
    position: relative;
    margin: 15px 0px;
}

#text .text .item a{
    font: 400 20px/25px 'Montserrat', sans-serif;
    background: #94E501; 
    color: black;
    padding: 12px 82px;
    border-radius: 10px;
    position: absolute;
    bottom: 35px;
    left: 35px;
}

/* footer start */
footer {
    margin-top: 160px;
    padding-top: 121px;
    padding-bottom: 150px;
    background: #484848;
}

footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

footer .container div a{
    font: 400 22px/27px 'Montserrat', sans-serif;
    margin-left: 35px;
    color: white;
}

footer .container div:first-child{
    margin-left: 0px;
}

footer .help{
    text-decoration: underline;
    color: #94E501;
    font: 400 24px/29px 'Montserrat', sans-serif;
}
/* footer end */

/* padding: top right bottom left;
    padding: top&bottom right&left; */